<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>GPS Fleet Management</title>
</head>
<body>
	<a href="usertypemaster">User Type</a> <br/><br/>
	<a href="usermaster">User Master</a> <br/><br/>
	<a href="vehfuletypemaster">Fuel Type Master</a> <br/><br/>
	<a href="emptypemaster">Employee Type Master</a> <br/><br/>
	<a href="desigmaster">Designation Master</a> <br/><br/>	
	<a href="vehiclemaster">Vehicle Master</a> <br/><br/>		
</body>
</html>